{% extends 'base.html' %}


{% block content %}
<div class="d-flex flex-column align-items-center color-contact m-3">
    <form method="post" action="" class="w-25">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p>Les champs marqués d’un * sont obligatoires.</p>
        <div class="mb-5">
            <input type="text" name="name" placeholder="Vos nom et prénom*" value="{{ form.name.value|default_if_none:'' }}" class="form-control border border-3 ">
            {{ form.name.errors }}
        </div>
        <div class="my-5">
            <input type="email" name="email" placeholder="Votre adresse email*" value="{{ form.email.value|default_if_none:'' }}" class="form-control border border-3">
            {{ form.email.errors }}
        </div>
        <div class="my-5">
            <input type="text" name="subject" placeholder="Sujet*"  value="{{ form.subject.value|default_if_none:'' }}" class="form-control border border-3">
            {{ form.subject.errors }}
        </div>
        <div class="my-5">
            <textarea name="message" rows="5" class="form-control border border-3" placeholder="Votre message*" value="{{ form.subject.value|default_if_none:'' }}"></textarea>
            {{ form.message.errors }}
        </div>
        <div class="my-5  d-flex align-items-center justify-content-center">
            <button type="submit" class="btn btn-contact w-50">Envoyer</button> 
        </div>
        
    </form>
</div>

{% endblock %}