{% extends 'base.html' %}
{% block content %}

<section>
    <h2>
        {% if search %}
        Résultat de la recherche - {{ search }}
        {% else %}
        Tout les articles
        {% endif %}
    </h2>
    <div class="produits">
    {% if items_page %}
        {% for produit in items_page %}
            <a href="{% url 'products:detail_produit' produit.id_produit %}"  class="produit" id="produit{{ produit.id_produit }}">
                <div class="img-container">
                    {% if produit.img_affichage != None %}
                        <img src="{{ produit.img_affichage.image.url }}" alt="image du produit {{ produit.id_produit }}">
                    {% else %}
                    {% endif %}
                </div>
                <p>{{ produit.nom_produit }}</p>
                {% if produit.prix_produit != None %}
                    <p class="prix-prod">{{ produit.prix_produit }} €</p>
                {% else %}
                    <p class="prix-prod">Aucun prix assigné</p>
                {% endif %}
            </a>
        {% endfor %}

    {% else %}
        <p>Aucun produit trouvé.</p>
    {% endif %}
    </div>
    {% if items_page.has_other_pages %}
        <div class="d-flex justify-content-center flex-row">
            <div class="btn-group" id="pagination-produits" role="group" aria-label="Item pagination">
                {% if items_page.has_previous %}
                    <a href="?page={{ items_page.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
                {% endif %}

                {% for page_number in items_page.paginator.page_range %}
                    {% if items_page.number == page_number %}
                        <button class="btn btn-outline-primary active">
                            <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                        </button>
                    {% else %}
                        <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                            {{ page_number }}
                        </a>
                    {% endif %}
                {% endfor %}

                {% if items_page.has_next %}
                    <a href="?page={{ items_page.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
</section>

{% endblock %}