{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1&amp;{{ current_sort_query }}&amp;{{ current_querystring }}">|<</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&amp;{{ current_sort_query }}&amp;{{ current_querystring }}"><</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">|<</span></li>
      <li class="page-item disabled"><span class="page-link"><</span></li>
    {% endif %}
    {% if not page_obj.has_next and page_obj.number >= 3 %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-2' }}&amp;{{ current_sort_query }}&amp;{{ current_querystring }}">{{ page_obj.number|add:"-2" }}</a></li>
    {% endif %}
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&amp;{{ current_sort_query }}&amp;{{ current_querystring }}">{{ page_obj.previous_page_number }}</a></li>
    {% endif %}
      <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&amp;{{ current_sort_query }}&amp;{{ current_querystring }}">{{ page_obj.next_page_number }}</a></li>
    {% endif %}
    {% if not page_obj.has_previous and page_obj.paginator.num_pages >= 3 %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'2' }}&amp;{{ current_sort_query }}&amp;{{ current_querystring }}">{{ page_obj.number|add:"2" }}</a></li>
    {% endif %}
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&amp;{{ current_sort_query }}&amp;{{ current_querystring }}">></a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&amp;{{ current_sort_query }}&amp;{{ current_querystring }}">>|</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">></span></li>
      <li class="page-item disabled"><span class="page-link">>|</span></li>
    {% endif %}
  </ul>
{% endif %}