{% extends 'admin/base_admin.html' %}

{% block title %}
  Ajouter une famille
{% endblock %}

{% block top_action %}
  <a href="{% url 'admin_produits:admin_famille_list' %}" class="logout-btn">Retour</a>
{% endblock %}

{% block header %}
  {% include 'admin/header_admin.html' with page_title='Ajouter une famille' %}
{% endblock %}

{% block content %}
  <div class="section-card">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit" class="btn btn-primary">
        <span class="material-symbols-outlined">save</span>
        Créer la famille
      </button>
    </form>
  </div>
{% endblock %}
