{% extends 'base.html' %}
{% block content %}
    {% with nom_produit=produit.nom_produit%}
    {% include 'includes/sortable_listview.html' %}
    {% endwith %}
    {% for rev in reviews %}
        <div class="card review">
            <div class="card-header d-flex justify-content-between align-items-center rev-header">
                <p class="rev-title">{{ rev.pseudonyme }}</p>
                <p class="rev-stars">{{ rev.stars }}</p>
            </div>
            {% if rev.message %}
                <div class="card-body rev-content">{{ rev.message }}</div>
            {% endif %}
            <div class="card-footer text-body-secondary rev-footer">Publié le : {{ rev.date }}</div>
        </div>
    {% endfor %}
<div class = "end-revs">
    {% include 'includes/pagination.html' %}
    <a href="{% url 'products:detail_produit' produit.id_produit %}" class='rev-return'>Retour</a>
</div>
{% endblock %}